.container{
  display: flex;
  justify-content: space-around;
  
}
.board{
  background:#3965c2;
  width: 40%;
  height: 65vh;
  border-radius: 40px;
}
.card{
  background: rgb(230, 222, 230);
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 50px;
}